<%- include ('../partials/header') %>
<section class="jumbotron text-center">
    <h1>Order: <%= order.id %></h1>
</section>
<section class="container">
    <div class="row">
        <div class="col-6">
            <h2>Customer</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td><%= order.car.owner.name %></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><%= order.car.owner.email %></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td><%= order.car.owner.phone %></td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td><%= order.car.owner.address %></td>
                    </tr>
                    <tr>
                        <th scope="row">Zip</th>
                        <td><%= order.car.owner.zip %></td>
                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td><%= order.car.owner.city %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>Car</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Make</th>
                        <td><%= order.car.make %></td>
                    </tr>
                    <tr>
                        <th scope="row">Model</th>
                        <td><%= order.car.model %></td>
                    </tr>
                    <tr>
                        <th scope="row">Year</th>
                        <td>XXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-6">
            <h2>Info</h2>
            <hr>
            Order created at: <%= order.createdAt %> <br>
            Time for repair: <%= order.date %>
        </div>
        <div class="col-6">
            <h2>Tyres</h2>
            <hr>
            Location: <br>
            Etc: <br>
            Etc: <br>
            Etc: <br>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">



        <div class="col-12">
            <h2 class="text-center mt-5">Repairs</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Line No.</th>
                        <th scope="col">Product name</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% order.repair.forEach(function(rep, index){ %>
                    <% index++ %>
                    <tr>
                        <th scope="row"><%= index %></th>
                        <td><%= rep.name %></td>
                        <td>$ <%= rep.price %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</section>

<%- include ('../partials/footer') %>