<%- include ('../partials/header') %>

<section class="jumbotron text-center">
    <h1>Edit comment: <%= params %> </h1>
</section>
<div class="container">
    <form action="/customers/<%= params.id %>/comments/<%= params.commentid %>?_method=PUT" method="POST">
        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment[text]" value="<%= comment.text %>">
        </div>
        <button type="submit" class="btn btn-primary">Update comment</button>
    </form>
</div>

<%- include ('../partials/footer') %>