<%- include ('../partials/header') %>
<section class="jumbotron text-center">
    <h1>Product: <%= product.name %> </h1>
</section>
<section class="container">
    <h2>Shortcode: <%= product.shortcode %></h2>
    <h2>Price: $ <%= product.price %></h2>
</section>

<%- include ('../partials/footer') %>