<%- include ('../partials/header') %>
<section class="jumbotron text-center">
    <h1>Car: <%= car.make %> <%= car.model %> </h1>
</section>
<section class="container">
    <h2>Options</h2>
    <a href="/cars/<%= car._id %>/edit" class="btn btn-warning">EDIT</a>
    <form action="/cars/<%= car._id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger d-inline">DELETE</button>
    </form>
    <hr>
    <h2><%= car.owner.name %></h2>
    <hr>
    <h2>Comments</h2>
    <form action="/cars/<%= car._id %>/comments" method="POST" class="form-inline">
        <input type="text" name="text" class="form-control post-comment-input w-75">
        <button type="submit" class="btn btn-success post-comment-button">Post comment</button>
    </form>
    <hr>
    <% car.comments.forEach(function(comment){ %>
    <div class="row">
        <div class="mr-auto"><%= comment.text %> </div>
        <div class="ml-auto"><%= comment.postedAt.toDateString() %>
            <a href="/cars/<%= car._id %>/comments/<%= comment._id %>/edit" class="btn btn-warning btn-sm">EDIT</a>
            <form action="/cars/<%= car._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"
                class="d-inline">
                <button type="submit" class="btn btn-danger d-inline btn-sm">DELETE</button>
            </form>
        </div>
    </div>
    <hr>
    <% }) %>
    <h2>Orders</h2>
    <% car.orders.forEach(function(order){ %>
    <a href="/orders/<%= order._id %>"> <%= order.id %></a><br>
    <% }) %>
    <hr>
</section>
<%- include ('../partials/footer') %>