<%- include ('../partials/header') %>

<section class="jumbotron text-center">
    <h1>Customer: <%= foundCustomer.name %> </h1>
</section>
<section class="container">
    <h2>Options</h2>
    <a href="/customers/<%= foundCustomer._id %>/edit" class="btn btn-warning">EDIT</a>
    <form action="/customers/<%= foundCustomer._id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger d-inline">DELETE</button>
    </form>
    <hr>
    <h3>E-mail: <%= foundCustomer.email %> </h3>
    <h3>Phone: <%= foundCustomer.phone %> </h3>
    <h3>Address: <%= foundCustomer.address %> </h3>
    <h3>Zip: <%= foundCustomer.zip %> </h3>
    <h3>City: <%= foundCustomer.city %> </h3>
    <h3>Notes: <%= foundCustomer.description %> </h3>
</section>

<section class="container">
    <hr>
    <h2>Cars - <a href="/cars/new?customer=<%= foundCustomer._id %>">Create new car</a></h2>
    <div class="container">
        <div class="row">
            <div class="col-4">Reg.No.</div>
            <div class="col-4">Make</div>
            <div class="col-4">Model</div>
        </div>
        <% foundCustomer.cars.forEach((car)=>{ %>
        <a href="/cars/<%= car._id %>">
            <div class="row">
                <div class="col-4"><%= car.regno %></div>
                <div class="col-4"><%= car.make %></div>
                <div class="col-4"><%= car.model %></div>
            </div>
        </a>
        <% }); %>
    </div>
    <hr>
    <br>
    <h2>Comments</h2>
    <hr>
    <% foundCustomer.comments.forEach((comment)=>{ %>
    <%= comment.text %>
    <hr>
    <% }); %>
    <br>
    <form action="/customers/<%= foundCustomer._id %>/comments" method="POST">
        <input type="text" name="text">
        <button type="submit">Send</button>
    </form>
</section>

<h1></h1>

<%- include ('../partials/footer') %>